<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
<soap:Body xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
	<ns1:CheckStatus xmlns:ns1="http://wsdl.siri.org.uk" xmlns:ns2="http://www.siri.org.uk/siri">
		<ns2:Request>
			<ns2:RequestTimestamp>{{.RequestTimestamp.Format "2006-01-02T15:04:05Z07:00"}}</ns2:RequestTimestamp>
			<ns2:RequestorRef>{{.RequestorRef}}</ns2:RequestorRef>
			<ns2:MessageIdentifier>{{.MessageIdentifier}}</ns2:MessageIdentifier>
		</ns2:Request>
		<ns2:RequestExtension/>
	</ns1:CheckStatus>
</soap:Body>
</soapenv:Envelope>
