<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
    <soap:Body>
        <ns6:CheckStatusResponse xmlns:ns2="http://www.siri.org.uk/siri" xmlns:ns3="http://www.ifopt.org.uk/acsb"
            xmlns:ns4="http://www.ifopt.org.uk/ifopt" xmlns:ns5="http://datex2.eu/schema/2_0RC1/2_0"
            xmlns:ns6="http://wsdl.siri.org.uk">
            <CheckStatusAnswerInfo>
                <ns2:ResponseTimestamp>2022-07-19T16:04:41.909+02:00</ns2:ResponseTimestamp>
                <ns2:ProducerRef>SNCF_ACCES_RECETTE_CLOUD</ns2:ProducerRef>
                <ns2:ResponseMessageIdentifier>
                    SNCF_ACCES_RECETTE_CLOUD:ResponseMessage::b77b264c-bc4a-4903-ada9-e1f81c1468a8:LOC
                </ns2:ResponseMessageIdentifier>
                <ns2:RequestMessageRef>NAVITIA:CheckStatusMessage:20220719_160400</ns2:RequestMessageRef>
            </CheckStatusAnswerInfo>
            <Answer>
                <ns2:Status>true</ns2:Status>
                <ns2:ServiceStartedTime>2022-07-19T07:04:52.847+02:00</ns2:ServiceStartedTime>
            </Answer>
            <AnswerExtension />
        </ns6:CheckStatusResponse>
    </soap:Body>
</soap:Envelope>
