<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
	<soap:Body>
		<ns6:SubscribeResponse xmlns:ns2="http://www.siri.org.uk/siri" xmlns:ns3="http://www.ifopt.org.uk/acsb" xmlns:ns4="http://www.ifopt.org.uk/ifopt" xmlns:ns5="http://datex2.eu/schema/2_0RC1/2_0" xmlns:ns6="http://wsdl.siri.org.uk">
			<SubscriptionAnswerInfo>
				<ns2:ResponseTimestamp>2022-07-11T11:25:07.229+02:00</ns2:ResponseTimestamp>
				<ns2:ResponderRef>SNCF_ACCES_RECETTE_CLOUD</ns2:ResponderRef>
				<ns2:RequestMessageRef>NAVITIA:Message:20220711_092505</ns2:RequestMessageRef>
			</SubscriptionAnswerInfo>
			<Answer>
				<ns2:ResponseStatus>
					<ns2:ResponseTimestamp>2022-07-11T11:25:07.229+02:00</ns2:ResponseTimestamp>
					<ns2:RequestMessageRef>NAVITIA:Message:20220711_092505</ns2:RequestMessageRef>
					<ns2:SubscriberRef>NAVITIA</ns2:SubscriberRef>
					<ns2:SubscriptionRef>NAVITIA:Subscription:20220711_092505</ns2:SubscriptionRef>
					<ns2:Status>true</ns2:Status>
					<ns2:ValidUntil>2022-07-12T09:25:05Z</ns2:ValidUntil>
				</ns2:ResponseStatus>
			</Answer>
			<AnswerExtension/>
		</ns6:SubscribeResponse>
	</soap:Body>
</soap:Envelope> 