<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
<soap:Body xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
	<ns1:Subscribe xmlns:ns1="http://wsdl.siri.org.uk" xmlns:ns2="http://www.siri.org.uk/siri">
		<ns1:SubscriptionRequestInfo>
			<ns2:RequestTimestamp>{{.RequestTimestamp}}</ns2:RequestTimestamp>
			<ns2:Address>{{.ConsumerAddress}}</Address>
			<ns2:RequestorRef>{{.SubscriberRef}}</ns2:RequestorRef>
			<ns2:MessageIdentifier>SUBREQ</ns2:MessageIdentifier>
			<ns2:ConsumerAddress>{{.ConsumerAddress}}</ns2:ConsumerAddress>
		</ns1:SubscriptionRequestInfo>
		<ns1:Request>
		{{range $a := .SubscribeRequests}}
			<ns2:StopMonitoringSubscriptionRequest>
				<ns2:SubscriberRef>{{$.SubscriberRef}}</ns2:SubscriberRef>
				<ns2:SubscriptionIdentifier>{{$a.SubscriptionIdentifier}}</ns2:SubscriptionIdentifier>
				<ns2:InitialTerminationTime>{{$a.InitialTerminationTime.Format "2006-01-02T15:04:05Z07:00" }}</ns2:InitialTerminationTime>
				<ns2:StopMonitoringRequest version="2.0:FR-IDF-2.4">
					<ns2:RequestTimestamp>{{$a.RequestTimestamp.Format "2006-01-02T15:04:05Z07:00" }}</ns2:RequestTimestamp>
					<ns2:MessageIdentifier>{{$a.MessageIdentifier}}</ns2:MessageIdentifier>
					<ns2:PreviewInterval>{{$a.PreviewInterval}}</ns2:PreviewInterval>
					<ns2:MonitoringRef>{{.MonitoringRef}}</ns2:MonitoringRef>
					<ns2:StopVisitTypes>{{$a.StopVisitTypes}}</ns2:StopVisitTypes>
					<ns2:MinimumStopVisitsPerLine>{{$a.MinimumStopVisitsPerLine}}</ns2:MinimumStopVisitsPerLine>
				</ns2:StopMonitoringRequest>
				<ns2:IncrementalUpdates>{{$a.IncrementalUpdates}}</ns2:IncrementalUpdates>
				<ns2:ChangeBeforeUpdates>{{$a.ChangeBeforeUpdates}}</ns2:ChangeBeforeUpdates>
			</ns2:StopMonitoringSubscriptionRequest>
		{{end}}
		</ns1:Request>
		<ns1:RequestExtension />
	</ns1:Subscribe>
</soap:Body>
</soapenv:Envelope>