<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
<soap:Body xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
	<wsdl:Subscribe xmlns:wsdl="http://wsdl.siri.org.uk" xmlns="http://www.siri.org.uk/siri">
		<SubscriptionRequestInfo>
			<RequestTimestamp>{{.RequestTimestamp.Format "2006-01-02T15:04:05Z07:00"}} </RequestTimestamp>
			<Address>{{.ConsumerAddress}}</Address>
			<RequestorRef>{{.SubscriberRef}}</RequestorRef>
			<MessageIdentifier>SUBREQ</MessageIdentifier>
			<ConsumerAddress>{{.ConsumerAddress}}</ConsumerAddress>
		</SubscriptionRequestInfo>
		<Request xmlns:ext="http://wsdl.siri.org.uk/siri">
		{{range $a := .SubscribeRequests}}
			<StopMonitoringSubscriptionRequest>
				<SubscriberRef>{{$.SubscriberRef}}</SubscriberRef>
				<SubscriptionIdentifier>{{$a.SubscriptionIdentifier}}</SubscriptionIdentifier>
				<InitialTerminationTime>{{$a.InitialTerminationTime.Format "2006-01-02T15:04:05Z07:00" }}</InitialTerminationTime>
				<StopMonitoringRequest version="2.0:FR-IDF-2.4">
					<RequestTimestamp>{{$a.RequestTimestamp.Format "2006-01-02T15:04:05Z07:00" }}</RequestTimestamp>
					<MessageIdentifier>{{$a.MessageIdentifier}}</MessageIdentifier>
					<PreviewInterval>{{$a.PreviewInterval}}</PreviewInterval>
					<MonitoringRef>{{.MonitoringRef}}</MonitoringRef>
					<StopVisitTypes>{{$a.StopVisitTypes}}</StopVisitTypes>
					<MinimumStopVisitsPerLine>{{$a.MinimumStopVisitsPerLine}}</MinimumStopVisitsPerLine>
				</StopMonitoringRequest>
				<IncrementalUpdates>{{$a.IncrementalUpdates}}</IncrementalUpdates>
				<ChangeBeforeUpdates>{{$a.ChangeBeforeUpdates}}</ChangeBeforeUpdates>
			</StopMonitoringSubscriptionRequest>
		{{end}}
		<Request>
		<RequestExtension />
	</wsdl:Subscribe>
</soap:Body>
</soapenv:Envelope>